<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TIW-VerbalizzazioneEsami</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/project_verbalizzazione_esami?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>Canadiano</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <filter>
    <filter-name>SessionChecker</filter-name>
    <filter-class>it.polimi.tiw.test.Utils.SessionChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionChecker</filter-name>
    <url-pattern>/GetExams</url-pattern>
    <url-pattern>/GetResOrRegs</url-pattern>
    <url-pattern>/GoToHome</url-pattern>
    <url-pattern>/Insert</url-pattern>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/Modify</url-pattern>
    <url-pattern>/Publish</url-pattern>
    <url-pattern>/Refuse</url-pattern>
    <url-pattern>/Verbalize</url-pattern>
    <url-pattern>/Esito.jsp</url-pattern>
    <url-pattern>/HomePage.jsp</url-pattern>
    <url-pattern>/Iscritti.jsp</url-pattern>
    <url-pattern>/Modifica.jsp</url-pattern>
    <url-pattern>/Verbale.jsp</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>LoginPage.html</welcome-file>
  </welcome-file-list>
</web-app>